<<!DOCTYPE html>
<html>
<head>
    <title>Subscribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>my new application</h1>
    {% if message %}
        <p style="color: green; font-weight: bold;">{{ message }}</p>
    {% endif %}
    <form method="POST">
        <input type="text" name="name" placeholder="Your Name" required><br><br>
        <input type="email" name="email" placeholder="Your Email" required><br><br>
        <button type="submit">Subscribe</button>
    </form>
</body>
</html>
